:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;

    color-scheme: light dark;
    color: #dadada;
    background-color: #0F0529;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html:has(dialog[open]) { 
    overflow: hidden; 
}

#app {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

body {
  margin: 0;
  min-height: 100dvh;
}

.set-ratio {
    max-width: calc(100dvh * (4/3));
    margin: 0 auto;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

a {
    color: rgb(0, 202, 219);
    text-decoration: none;

    &:hover {
	text-decoration: underline;
    }
}

h2 {
    border-bottom: 1px solid white;
}

section {
    padding: 1rem;
    padding-bottom: 3rem;
}

.button {
    background: #7338A0;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 10px;
    transition: all 0.5s ease;
    text-decoration: none;
    color: #fff0ff;
    box-shadow: 0px 0px 12px 3px rgba(75, 28, 113, 0.5);
    user-select: none;
    -webkit-user-select: none;

    &:hover {
	background: #b57edc;
	box-shadow: 0px 0px 25px -8px #CF96FF;
	text-decoration: none;
    }
}

footer {
    background: linear-gradient(to right, #4b1c71, #0F0529);
    overflow: auto;
    padding-top: 1em;
}

.splash-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: #4b1c71 1px 0 10px;
}

#modal {
    transition: all 0.5s ease-out;
    border: 1px solid white;
    border-radius: 20px;
    padding: 0;
    width: 40vw;
    height: 50vh;
}

#modal[open] {
    opacity: 1;
    transform: translateY(0);
}

@starting-style {
    #modal[open] {
	opacity: 0;
	transform: translateY(-50px);
    }
}

#modal::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-out;
    backdrop-filter: blur(4px);
}

@starting-style {
    #modal[open]::backdrop {
	background-color: rgba(0, 0, 0, 0);
	backdrop-filter: blur(0px);
    }
}

#close-btn {
    color: green;
    background: none;
    border: none;
    padding: 0;
    border-radius: 9999px;
    height: 24px;
    width: 24px;
    position: fixed;
    right: 0.5rem;
    top: 0.5rem;
}

#dialog-splash {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/splash/main.svg");
}

#dialog-content {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.chip-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.chip {
    border-radius: 20px;
    border: 0.15rem solid rgba(255, 255, 255, 1);
    padding: 0.5rem 1rem;
    color: white;
    box-shadow: 3px 3px 15px 0px rgba(75, 28, 113, 0.5);
    transition: box-shadow 0.5s ease;
    user-select: none;
    -webkit-user-select: none;

    a {
	color: white;
    }
}

.st {
    background-color: #00adee;

    &:hover {
	box-shadow: 0px 0px 12px 3px #00adee;
    }
}

.xo {
    background-color: #107C11;

    &:hover {
	box-shadow: 0px 0px 12px 3px #107C11;
    }
}

.p4 {
    background-color: #003087;

    &:hover {
	box-shadow: 0px 0px 12px 3px #003087;
    }
}

.x360 {
    background-color: #77bb44;

    &:hover {
	box-shadow: 0px 0px 12px 3px #77bb44;
    }
}

.inner-pad {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.important-txt {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.table-wrapper {
    display: flex;
    justify-content: center;
}

table {
    border: 1px solid #fff0ff;
    text-align: center;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #fff0ff;
    padding: 0.25rem;
}

th {
    background: linear-gradient(to right, #4b1c71, #431569);
}

td {
    background: #0F0529;
}

summary {
    background: linear-gradient(to right, #4b1c71, #0F0529);
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
	background: linear-gradient(to right, #b57edc, #0f0529);
    }
}

details {
    margin-bottom: 1rem;

    &:open {
	border: 1px dashed #fff0ff;
    }
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
    .set-ratio {
	max-width: 100dvw;
    }
}

@media only screen and (hover: none) and (pointer: coarse) {
    code {
	overflow-wrap: anywhere;
    }

    li {
	a {
	    overflow-wrap: anywhere;
	}
    }

    .inner-pad {
	border: 1px dashed #fff0ff;
    }
}

@media only screen and (min-width: 2000px) {
    :root {
	font-size: calc(1rem + 1vw);
    }
}
